@use '../../styles/cor_modelo.scss' as *;

.container{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 220px;
    padding: 10px;
    border-radius: 8px;
    background-color: $cor-background;

    .line{
        display: flex;
        width: 100%;
    }

    .line-1{
        height: 110px;

        .box-img{
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            border: none;
            
            img{
                width: 80px;
            }
        }
        

        h3{
            font-size: 14px;
            font-weight: 800;
        }

        .box-descricao {
            height: 80px;
            overflow: hidden;

            p{
                height: 100%;
                font-size: 12px;
                padding-top: 4px;
                line-height: 1.2;
                font-weight: 400;
                text-align: justify;
                text-indent: 10px;
                
                max-height: 76px;
                overflow: hidden;
                text-overflow: ellipsis;

                line-clamp: 5;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
            }
        }
    }

    .line-2{
        height: 45px;
        display: flex;
        align-items: center;
        text-align: center;

        h3{
            font-size: 20px;
            font-weight: 600;
        }

        .tamanho-opcoes {
            display: flex;
            gap: 10px;

            .tamanho {
                position: relative;
                cursor: pointer;

                input {
                display: none;

                &:checked + span {
                    background-color: #007bff;
                    color: #fff;
                    border-color: #007bff;
                }
                }

                span {
                    display: inline-block;
                    padding: 10px 20px;
                    border: 2px solid #ccc;
                    border-radius: 8px;
                    transition: 0.3s;
                    font-weight: bold;
                }
            }
        }
    }

    .line-3{
        display: flex;
        align-items: center;
        height: 45px;

        .container-quantidade{
            display: flex;
            justify-content: center;
            align-items: center;

            h4{
                font-size: 14px;
                padding: 0 10px;
                font-weight: 800;
            }

            .btn-quantidade{
                width: 28px;
                height: 28px;
                font-weight: 800;
                border-radius: 6px;
                border: none;
                background-color: $cor-primaria;
                transition: background-color .2s ease, color .2s ease;
            }

            .btn-quantidade:hover {
                background-color: $cor-secundaria;
                color: white;
            }
        }

        .container-btn-adicionar{
            display: flex;
            justify-content: center;
            align-self: center;

            app-button-padrao{
                display: flex;
            }
        }
    }

    .box-coluna-1{
        width: 120px;

    }

    .box-coluna-2{
        width: 180px;
    }
}