<nav class="nav">
    <div class="avata-logo">
        <img src="logo.jpg" alt="">
    </div>
    <ul class="lineMenu">
        <a class="link" [routerLink]="['cafes']"><h2>CAFÉS</h2></a>
    </ul>
    <ul class="lineMenu">
        <a class="link" href="#"><h2>INDISPONÍVEL</h2></a>
    </ul>
    <ul class="lineMenu">
        <a class="link" href="#"><h2>INDISPONÍVEL</h2></a>
    </ul>
    <span class="space"></span>
    <ul class="lineMenu">
        <a class="link" href="#"><h2>FAZER PEDIDO</h2></a>
    </ul>
</nav>